
body {
	height: 100% !important;
	width: 100%;

	background: linear-gradient(to right, rgba(20,18,21,0.5), rgba(20,18,21,0.5)), url(./assets/bg-sample.jpg);
	background-position: center;
	/*background-repeat: no-repeat;*/
	background-size: cover;
	/*position: absolute;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hambugrini-navbar {
	border-radius: 10px;
}

.hambugrini-logo {
	max-width: 200px;
}

.hambugrini-navbar-toggler {
	border: none;
}

.hambugrini-orange-card {
	background-color: #E86322;
	/*font-family: 'Oswald';*/
}

.hambugrini-orange-menu-icon {
	font-size: 2.5rem;
}

.hambugrini-btn-section {
	text-align: center;
}

.hambugrini-orange-food-icon {
	max-width: 30px;
}

.hambugrini-login-btn {
	background-color: #E86322;
	font-weight: bold;
	letter-spacing: 2px;
	border: #fff solid 2px;
	width: 80%;
	border-radius: 100px;
	font-family: 'Raleway';
}

.hambugrini-signup-btn {
	background-color: #191923;
	font-weight: bold;
	letter-spacing: 2px;
	border: #191923 solid 2px;
	width: 80%;
	border-radius: 100px;
	font-family: 'Raleway';
}

.hambugrini-text-crumb {
	font-size: 3rem;
	color: #ECB69E;
	/*letter-spacing*/: -2px;
	font-family: 'Oswald';
}

.hambugrini-text-crumb-current {
	font-family: 'Oswald';
	font-size: 3rem;
	color: #fff;
	/*letter-spacing*/: -2px;
}

.hambugrini-next-crumb {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	top: -10px;
	position: relative;
}

.hambugrini-dish-title {
	font-size: 3rem;
	font-family: 'Oswald';
	font-weight: bold;
	color: #020202;
}

.hambugrini-dish-price {
	font-family: 'Oswald';
	font-size: 5rem;
	color: #C42E0B;
	font-weight: bold;
}

.hambugrini-dish-price > span {
	font-size: 3rem;
}

.hambugrini-dish-size {
	color: #B6B6B6;
	border: #B6B6B6 solid 2px;
	font-weight: 400;
	text-transform: lowercase;
	box-shadow: none;
	border-radius: 100px;
	font-size: 0.8rem;
	font-family: 'Raleway';
}

.hambugrini-dish-size.selected {
	color: #fff;
	background: linear-gradient(to right, rgba(234,98,36,1), rgba(231,101,35,1));
	border: #E86322 solid 2px;
}

.hambugrini-dish-btn-minus, .hambugrini-dish-btn-add {
	border-radius: 50%;
	width: 40px;
	padding: 8px;
	background: linear-gradient(to right, rgba(234,98,36,1), rgba(231,101,35,1));
	border: #E86322 solid 2px;
}

.hambugrini-dish-add-order {
	font-weight: bold;
	border-radius: 100px;
	background: linear-gradient(to right, rgba(230,69,34,1), rgba(231,101,35,1));
	border: #E86322 solid 1px;
	font-family: 'Raleway';
	letter-spacing: 2px;
}

.hambugrini-dish-customize {
	font-weight: bold;
	border-radius: 100px;
	background: #191923;
	border: #191923 solid 1px;
	font-family: 'Raleway';
	letter-spacing: 2px;
}

.hambugrini-dish-count {
	font-size: 2.5rem;
	font-weight: bold;
	position: relative;
	top: 10px;
	font-family: 'Oswald';
}

/*.hambugrini-dish-sides-card {
	max-width: 150px;
}*/

.hambugrini-dish-sides-label {
	font-size: 1.2rem;
	font-family: 'Oswald';
}

.hambugrini-dish-sides-price {
	font-size: 0.9rem;
	font-weight: bold;
	color: #C42E0B;
	font-family: 'Oswald';
}

.hambugrini-dish-sides-price > span {
	font-size: 0.7rem;
}

.hambugrini-dish-description {
	font-family: 'Raleway';
}

.hambugrini-dish-sides-name {
	font-weight: bold;
	font-size: 1rem;
	color: #191923;
	font-family: 'Oswald';
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #E86322 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
	background: #E86322 !important;
}

.nav-link {
	font-size: 1.5rem;
	font-weight: bold;
}